@import "https://fonts.googleapis.com/css?family=Montserrat";

:root{
    /* Colors */
    color-primary: #2B67F1;
    color-success: #00A726;
    color-info: #26B6DA;
    color-warning: #F79B28;
    color-danger: #E22E39;
}

body{background:url("../img/classy_fabric.png")}

.chat{
    width:400px;
    height:90vh;
    box-shadow:0 0 30px -5px #2B67F1;
    margin:5vh calc(50vw - 200px);
    background:#FFFFFF;
    position:relative;
    font-family:'Montserrat',sans-serif;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f5f6+0,e3eaed+37,c8d7dc+100;Grey+3D+%234 */
    background: #f2f5f6; /* Old browsers */
    background: -moz-linear-gradient(top, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 ); /* IE6-9 */
}

.chat_header{
    padding:15px;
    border-bottom:4px solid #00A726;
    background:#FFFFFF;
    color:#00A726;
}

.chat_status{
    font-size:11px;
    margin:4px 0 -4px
}

.chat_avatar{
    float:right;
    width:42px;
    border-radius:50%;
    margin-top:-3px}

.chat_s{
    /*background:#FAFAFA;*/
    max-height: calc(80vh - 25px);
    overflow-y: auto;
    overflow-x: hidden;
}

.chat_input{
    position:absolute;
    bottom:0;
    width:calc(100% - 3px);
    padding:10px 4px 6px;
    background:#FFFFFF;
}

.chat_text{
    font-family:'Montserrat',sans-serif;
}

.chat_submit{
    color:#2B67F1;
    text-decoration-color:#2B67F1;
}

.chat_bubble-1,.chat_bubble-2{padding:10px;
    margin:13px 17px;
    width:200px;
    font-size:14px;
}

.chat_bubble-1{border:1px solid #00A726;
    border-radius:12px 12px 12px 0;
    float: left;
}

.chat_bubble-2{border:1px solid #2B67F1;
    border-radius:12px 12px 0 12px;
    float: right;
    margin-left:160px;
}

::-webkit-scrollbar{
    width:13px;
}

::-webkit-scrollbar-thumb{
    border-radius:10px;
    -webkit-box-shadow:inset 0 0 0 4px #FFFFFF;
    background:rgba(0,0,0,0.2);
}
